extends ../layout

block content

  .navbar.navbar-inverse
    .container    
        ul.nav.navbar-nav
          li
            button.btn.btn-default.navbar-btn Players
          
  
  img(src='/img/preloader.gif').loader
  .gridster
      ul.widgets
          li#chat_widget.widget(
            data-col="#{hero.layout.chat_widget.col}",
            data-row="#{hero.layout.chat_widget.row}",
            data-sizey="#{hero.layout.chat_widget.size_y}",
            data-sizex="#{hero.layout.chat_widget.size_x}"
          )      
            .widget_header Chat
            .widget_content
              block main
          li#list_widget.widget(
            data-col="#{hero.layout.list_widget.col}",
            data-row="#{hero.layout.list_widget.row}",
            data-sizey="#{hero.layout.list_widget.size_y}",
            data-sizex="#{hero.layout.list_widget.size_x}"
          )
            .widget_header Players
            .widget_content
              block list_players
          li#status_widget.widget(
            data-col="#{hero.layout.status_widget.col}",
            data-row="#{hero.layout.status_widget.row}",
            data-sizey="#{hero.layout.status_widget.size_y}",
            data-sizex="#{hero.layout.status_widget.size_x}"
          )
            #room.widget_header(data-room="#{room.name}")!= "Room <strong>"+room.name+"</strong> description"
            .widget_content
              block status
          li#notes_widget.widget(
            data-col="#{hero.layout.notes_widget.col}",
            data-row="#{hero.layout.notes_widget.row}",
            data-sizey="#{hero.layout.notes_widget.size_y}",
            data-sizex="#{hero.layout.notes_widget.size_x}"
          )
            .widget_header Notes
            .widget_content
              block notes
          li#hero_widget.widget(
            data-col="#{hero.layout.hero_widget.col}",
            data-row="#{hero.layout.hero_widget.row}",
            data-sizey="#{hero.layout.hero_widget.size_y}",
            data-sizex="#{hero.layout.hero_widget.size_x}"
          )
            #hero.widget_header(data-hero="#{hero._id}")!= "Hero: " + hero.displayname
            .widget_content
              block hero

          li#inventory_widget.widget(
            data-col="#{hero.layout.inventory_widget.col}",
            data-row="#{hero.layout.inventory_widget.row}",
            data-sizey="#{hero.layout.inventory_widget.size_y}",
            data-sizex="#{hero.layout.inventory_widget.size_x}"
          )
            .widget_header Inventory
            .widget_content
              block inventory

          if is_master
              li#master_widget.widget(
                data-col="#{hero.layout.master_widget.col}",
                data-row="#{hero.layout.master_widget.row}",
                data-sizey="#{hero.layout.master_widget.size_y}",
                data-sizex="#{hero.layout.master_widget.size_x}"
              )
                .widget_header Master workshop
                .widget_content
                  block mastery
              
  include input_form

block scripts
    != js('vendor/jquery.gridster.min')
    != js('chat')
    script(defer, src="/ckeditor/ckeditor.js")
