extends base

block title
  | Manage rooms

block main
  h2 Manage rooms

  if message != ''
    .alert
      button.close(data-dismiss="alert", href="#") &times;
      | #{message}

  table.table.table-striped
    tr
      th name
      th master
    each room in all_rooms
      tr
        td= room.name
        td= room.master.name
        td
          a(href='/rooms/#{ room.id }/edit') edit
          |  | 
          a(href='/rooms/#{ room.id }/destroy', onclick='return confirm("Are you sure you want to delete this?") ? true : false') delete