extends base

block title
  | Manage heroes

block main
  h2 Manage heroes

  if message != ''
    .alert
      button.close(data-dismiss="alert", href="#") &times;
      | #{message}

  table.table.table-striped
    tr
      th Displayname
      th Description
      th Room
      th User
      th
    each hero in all_heroes
      tr
        td= hero.displayname
        td!= hero.description
        td= hero.room.name
        td= hero.user.name
        
        td
          a(href='/heroes/#{hero.id}/edit') edit
          |  | 
          a(href='/heroes/#{hero.id}/destroy', onclick='return confirm("Are you sure you want to delete this?") ? true : false') delete
