doctype 5
html(lang='en')
  head
    include layout/header
    
  body
    .navbar.navbar-fixed-top
      .container
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar

        a.navbar-brand(href='/') RPG Workshop
        if req.user
          p.navbar-text.pull-right#user(data-user="#{req.user._id}", data-username="#{req.user.name}", data-admin="#{req.user.admin}")
            | Welcome, #{req.user.name} <span class='#{req.user.admin ? "label label-success" : ""}'>#{req.user.admin ? "admin" : ""}</span>
            | | 
            a(href='/logout') logout
        else
          p.navbar-text.pull-right
            a(href='/login') Login
            |  | 
            a(href='/users/new') Sign up

        ul.nav.navbar-nav
          li: a(href='/') Home
          if req.user
            li: a(href='/heroes/') Heroes
            if req.user.admin
                li: a(href='/rooms/') Play rooms
                li: a(href='/users/') Users
              
    block content
    
    include layout/footer
